<!DOCTYPE html>
<html>
<head>
    <title>Manager Dashboard</title>
</head>
<body>

<h1>Welcome {{ name }}</h1>

<hr>

<h2>Manager Dashboard</h2>

<ul>
    <li>
        <a href="/manager/create-task/">
            Create Task
        </a>
    </li>

    <li>
        <a href="/manager/tasks/">
            View All Tasks
        </a>
    </li>
    <li>
    <a href="/manager/logout/">
        Logout
    </a>
</li>
    <li>
    <a href="/manager/reports/">
        Reports
    </a>
</li>
</ul>

</body>
</html>